@using MyBlog.Business
@using MyBlog.Entities


@{ 


    List<Category> categoriesList = CacheHelper.GetFromCategoriesCache();

}


<h1 class="my-4"><i class="fa fa-arrow-right"></i>&nbsp;Categories</h1>
<div class="list-group">

    @foreach (var category in categoriesList)
    {
        <a href="/Home/ByCategory/@category.Id" class="list-group-item"><i class="fa fa-arrow-right"></i>&nbsp;@category.Title</a>
    }

 

</div>