@using MyBlog.Business
@using MyBlog.Entities

@{ 

    CategoryManager cm = new CategoryManager();
    List<Category> categoriList = cm.GetCategories();


}

<h1 class="my-4"><i class="fa fa-arrow-right"></i><a href="@Html.Action("Index", "Home")"></a>&nbsp;Categories</h1>
<div class="list-group">

    @foreach (var cat in categoriList)
    {
        <a href="/Category/Select/@cat.Id" class="list-group-item"><i class="fa fa-arrow-right"></i>&nbsp;@cat.Title</a>
    }

    <a href="#" class="list-group-item"><i class="fa fa-arrow-right"></i>&nbsp;Category 1</a>

</div>