
@{
    ViewBag.Title = "Hesap Aktifleştirildi.";
}

<h2>DIRECTING TO HOME</h2>

<script>


    $(document).ready(function () {

        $(footer).hide()

        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);

    }, 5000);

</script>

